[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppBlaze"]
	path = RcppBlaze
	url = https://github.com/chingchuan-chen/rcppblaze
